# Source directories
admin/src-admin/
test/

# Local build artifacts
.vscode/
.github/
.git/

# Development scripts
install-tgz.sh
deploy.sh
upload.sh

# Old logs
*.log
npm-debug.log*

# Mac DS_Store
.DS_Store

# Pack files
iobroker.*.tgz
*.tgz
